---
layout: layout.liquid
title: Luke Anderson
---
  <div class="home-header">
    <h1>Luke Anderson</h1>
    <div class="soft-skills">
        <p>Developer</p>
        <p class="purple-lines">|</p>
        <p>Creative Thinker</p>
        <p class="purple-lines">|</p>
        <p>Designer</p>
    </div>
  </div>

{% comment %}
{% timeline 'purple-bullet' 'There is a house in New Orleans' %}
<div class="vertical-line"></div>
{% timeline 'yellow-bullet' 'There is a house in New Orleans' %}
<div class="vertical-line"></div>
{% timeline 'purple-bullet' 'There is a house in New Orleans' %}
<div class="vertical-line"></div>
{% timeline 'yellow-bullet' 'There is a house in New Orleans' %}
<div class="vertical-line"></div>
{% timeline 'purple-bullet' 'There is a house in New Orleans' %}
{% endcomment %}